<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <img src="/static/logo.png" alt="Logo" id="logo" />
    <form>
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Search here..."
      />
      <button type="submit">Search</button>
    </form>
    <button type="button" id="resultButton">go to results</button>
    <table id="results-table" style="display: none">
      <thead>
        <tr>
          <th><strong>Word</strong></th>
          <th><strong>Count</strong></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <script src="/static/script.js"></script>
  </body>
</html>
