<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Searchington</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <img src="/static/logo.png" alt="Logo" id="logo" />
    <form method="GET" action="/search">
      <input
        type="text"
        name="keywords"
        id="search"
        placeholder="Search here..."
      />
      <button type="submit">Search</button>
    </form>
    <h1 class="hidden">Current Keywords</h1>
    <table id="results-table" name="results" style="display: none">
      <thead>
        <tr>
          <th><strong>Word</strong></th>
          <th><strong>Count</strong></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <h1 class="hidden">Top 20 Popular Keywords</h1>
    <table id="popular-keywords-table" name="history" style="display: none">
      <thead>
        <tr>
          <th><strong>Popular Word</strong></th>
          <th><strong>Total Count</strong></th>
        </tr>
      </thead>
      <tbody>
        % for word, count in top_20_keywords.items():
        <tr>
          <td>{{word}}</td>
          <td>{{count}}</td>
        </tr>
        % end
      </tbody>
    </table>
    <script src="/static/script.js"></script>
  </body>
</html>
